/02450_Book.pdf
/34266 Introdcution to ML and regression models[625].pdf
/34366 Problem solving session - regression[626].pdf
/Adaptive Filter Theory.pdf
/Dataset1.csv
/Dataset1.xlsx
/Neural Networks and Learning Machines.pdf
/Pattern Recognition and Machine Learning.pdf
mnist_data/MNIST/raw/t10k-images-idx3-ubyte
mnist_data/MNIST/raw/t10k-images-idx3-ubyte.gz
mnist_data/MNIST/raw/t10k-labels-idx1-ubyte
mnist_data/MNIST/raw/t10k-labels-idx1-ubyte.gz
mnist_data/MNIST/raw/train-images-idx3-ubyte
mnist_data/MNIST/raw/train-images-idx3-ubyte.gz
mnist_data/MNIST/raw/train-labels-idx1-ubyte
mnist_data/MNIST/raw/train-labels-idx1-ubyte.gz
